@import url("./reset.css");


body {
    background-color: rgb(9, 9, 33);
    display: grid;
    place-content: center;
    height: 100vh;
}

.clock span {
    color: #fff;
    font-size: 60px;
}











  